@font-face {
    font-family: 'OpenSansRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');

}

.paper {
	display: inline-block;
}
.addthis_native_toolbox {
    text-align: center;
}
.addthis_native_toolbox > div{
    display: inline-block !important;
}
.paper, .paper > svg {
    width: 100%;
    height: 100%;
}


body {
    overflow: hidden;
	font: 12px OpenSansRegular;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.logo {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}